body {
    margin: 0;
}

.container {
    background-image: url(cover2.jpg);
    background-size: cover;
    border-radius: 20px;
    border: 8px solid white;
    box-shadow: 0 0 13px black;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;   
}

.inner-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.home, .guest {
    margin: 20px 10px;
}

.displayScore {
    font-family:'Cursed Timer ULiL', sans-serif;
    width: 250px;
    height: 200px;
    color: #b71b38;
    background-color: #080001;
    font-weight: 400;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    border-radius: 25px;
    padding: 10px;    
}

.points-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: #9aabd8;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #16d8a4;
    border: 2px solid #0884b5;
    background-color: #1b244a;
    padding: 10px 10px;
    border-radius: 5px;   
}

button:hover {
    background-color: #ccd3f4b7;
    color: black;
}

.reset-button {
    font-size: 30px;
    margin-top: 30px;
}
